<section id="battleground" class="card card--battleground"></section>
<div id ="scoreboard">
	<div>
		 <div class= "playerScore">
        <div class="name">Player</div>
        <div class="score"><div class="label">Score</div><div class="value">000000</div></div>
        <div class="health"><div class="label">Health</div><div class="value">000</div></div>
	</div>


	<div>
		 <div class= "enemyScore">
        <div class="name">Enemy</div>
        <div class="score"><div class="label">Score</div><div class="value">000000</div></div>
        <div class="health"><div class="label">Health</div><div class="value">000</div></div>
	</div>

	<div class="card__button">
        <a class="card__link btn btn--big btn--orange toAttack" href="#" next="">
          <span class="btn__prompt"></span>
          <span class="btn__text">Attack</span>
        </a>
      </div>
</div>