<section id="player-setup" class="card card--name">
  <div class="card__prompt">
    <div>RECORD YOUR NAME, ADVENTURER</div>
    <div class="field">
    <input type="text" autofocus="true" id="player-name" class="field__textinput">
    </div>
  </div>
</section>
